<div class="recipe" *ngIf="RecipeId != ''">
    <div class="actions">
        <a>
            <app-edit-icon *ngIf="!isEdit" (click)="isEdit=!isEdit"></app-edit-icon>
            <app-stop-edit-icon *ngIf="isEdit" (click)="isEdit=!isEdit"></app-stop-edit-icon>
        </a>
        <a>
            <app-delete-icon (click)="deleteRecipe()"></app-delete-icon>
        </a>
    </div>
    <h1 *ngIf="!isEdit">{{ recipe.recipeName }}</h1>
    <input type="text" *ngIf="isEdit" [(ngModel)]="recipe.recipeName" placeholder="New Recipe Name">
    <h3>Ingredients</h3>
    <app-ingredients-list [ingredients]="ingredients" [isEditMode]="false"></app-ingredients-list>
    <h3>Directions</h3>
    <app-directions-list [directions]="recipe.directions" [isEdit]="isEdit" [recipeId]="recipe.id"
        (AddedDirection)="updateIngredientsList()"></app-directions-list>
</div>