<div class="recipe" *ngIf="RecipeId != ''">
    <div class="actions">
        <fa-icon class="action" [icon]="!isEdit ? faPen : faTimes" size="2x" (click)="isEdit=!isEdit"></fa-icon>
        <fa-icon class="action" [icon]="faTrash" size="2x" (click)="deleteRecipe()"></fa-icon>
    </div>
    <h1>{{ recipe.recipeName }}</h1>
    <h3>Ingredients</h3>
    <app-ingredients-list [ingredients]="ingredients" [isEditMode]="false"></app-ingredients-list>
    <h3>Directions</h3>
    <app-directions-list [directions]="recipe.directions" [isEdit]="isEdit" [recipeId]="recipe.id" (AddedDirection)="updateIngredientsList()"  ></app-directions-list>
</div>