<div class="direction">
  <div class="direction-header">
    <div class="title">
      {{isNew ? 'New' : ''}} step {{isNew ? '' : index}}
    </div>
    <div class="action-buttons">
      <button type="button" *ngIf="!isNew && isEdit" (click)="deleteDirection()">
        <app-delete-icon></app-delete-icon>
      </button>
      <button type="button" *ngIf="isNew" (click)="addDirection()">
        <app-add-icon></app-add-icon>
      </button>
    </div>
  </div>
  <div class="direction-content">
    <div class="ingredients-container">
      <span *ngIf="isEdit" class="headline">Ingredients</span>
      <app-ingredients-list class="ingredients" [ngClass]="{'edit': isEdit}" [ingredients]="directionLocal.ingrediantsUsed"
        [isEditMode]="isEdit" 
        (DataChanged)="UpdateIngredients($event)"
        ></app-ingredients-list>
    </div>

    <div class="direction-description" [ngClass]="{'edit': isEdit}">
      <div>
        <span *ngIf="!isEdit && directionLocal.type">
          Type: {{directionLocal.type}}
        </span>
        <div *ngIf="isEdit" class="headline">
          Type:
          <!-- <input type="text" [(ngModel)]="directionLocal.type" placeholder="type" (blur)="saveDirection()"> -->
          <app-select-list 
            [data]="directionTypes" 
            (selected)="directionLocal.type = $event;saveDirection();" 
            [selectedItem]="directionLocal.type"></app-select-list>
        </div>
      </div>
      <div class="direction-explain">
        <span *ngIf="!isEdit && directionLocal.step">
          Description: {{directionLocal.step}}
        </span>
        <div *ngIf="isEdit" class="headline">
          Description:
          <textarea name="description" [(ngModel)]="directionLocal.step" placeholder="step" (blur)="saveDirection()"></textarea>
        </div>
      </div>
      <!-- <div>
        <span *ngIf="!isEdit && direction.preperationTime">
          Preperation time: {{direction.preperationTime}}
        </span>
        <div *ngIf="isEdit">
        </div>
      </div> -->
    </div>
  </div>
</div>