.direction {
    flex: 1;
    background: #efefef;
    border-radius: 12px;
    max-width: 800px;
    margin: 0 0 10px 0;
    padding: 15px 45px 25px 45px;
}

.action-buttons {
    display: flex;
    justify-content: flex-end;
}

.direction-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px 20px;
    margin: 0 0 15px 0;
    background: #d0d0d0;
    border-radius: 10px;
}

.direction-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 20px;
}

.ingredients {
    flex: 1;

} 
.direction-description {
    flex: 3;
}

.title {
    text-transform: capitalize;
    font-weight: 600;
}

.direction-step {
}

.direction-type {
}

.direction-explain {
}

.direction-preperationTime {
}
