<div class="direction">
  <div class="direction-header">
    <div class="title">
      {{isNew ? 'New' : ''}} step {{isNew ? '' : index}}
    </div>
    <div class="action-buttons">
      <button type="button" *ngIf="!isNew && isEdit" (click)="deleteDirection()">
        <app-delete-icon></app-delete-icon>
      </button>
      <button type="button" *ngIf="isNew" (click)="addDirection()">
        <app-add-icon></app-add-icon>
      </button>
    </div>
  </div>
  <div class="direction-content">
    <div class="ingredients-container">
      <span *ngIf="isEdit" class="headline">Ingredients</span>
      <app-ingredients-list class="ingredients" [ngClass]="{'edit': isEdit}" [ingredients]="direction.ingrediantsUsed"
        [isEditMode]="isEdit"></app-ingredients-list>
    </div>
    <div class="direction-description" [ngClass]="{'edit': isEdit}">
      <div>
        <span *ngIf="!isEdit && direction.type">
          Type: {{direction.type}}
        </span>
        <div *ngIf="isEdit" class="headline">
          Type:<input type="text" [(ngModel)]="direction.type" placeholder="type">
        </div>
      </div>
      <div class="direction-explain">
        <span *ngIf="!isEdit && direction.step">
          Description: {{direction.step}}
        </span>
        <div *ngIf="isEdit" class="headline">
          Description:
          <textarea name="description" [(ngModel)]="direction.step" placeholder="step"></textarea>
        </div>
      </div>
      <div>
        <span *ngIf="!isEdit && direction.preperationTime">
          Preperation time: {{direction.preperationTime}}
        </span>
        <div *ngIf="isEdit">
          <!-- Preperation time: <app-time-picker [(Time)]="direction.preperationTime"></app-time-picker> -->
        </div>
      </div>
    </div>
  </div>
</div>