<div>
    <div class="ingredient" *ngIf="!isNew">
      <button class="btn-remove" *ngIf="isEdit" (click)="remove()" >X</button>
      <div>{{displayStr}}</div>
    </div>

    <div class="ingredient-edit" *ngIf="isNew" [style.flex-direction]="isNameOnly? 'row': 'column'">
      <button type="button" class="btn-add" (click)="add()">+</button>
      <input type="text" placeholder="Ingredient name" [(ngModel)]="ingredient.ingredientName" />
      <input type="text" placeholder="Amount" [(ngModel)]="ingredient.amount" *ngIf="!isNameOnly" />
      <input type="text" placeholder="Measurement type" [(ngModel)]="ingredient.measurementType" *ngIf="!isNameOnly" />
    </div>
  </div>