<div>
  <div class="ingredient" *ngIf="!isNew">
    <button class="remove-btn" *ngIf="isEdit" (click)="remove()">X</button>
    <div>{{displayStr}}</div>
  </div>
  <div class="ingredient-edit" *ngIf="isNew">
    <div class="ingredient-inputs">
      <input type="text" placeholder="Ingredient name" [(ngModel)]="ingredient.ingredientName" />
      <input type="text" placeholder="Amount" [(ngModel)]="ingredient.amount" *ngIf="!isNameOnly" />
      <input type="text" placeholder="Measurement type" [(ngModel)]="ingredient.measurementType" *ngIf="!isNameOnly" />
    </div>
    <div class="actions">
      <button type="button" class="action add" (click)="add()">✓</button>
      <button type="button" class="action cancel" (click)="reset()">X</button>
    </div>
  </div>
</div>