.ingredient {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3px;
    align-items: baseline;
  }
  
  .ingredient-edit {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 3px;
  
    & * {
      padding: 5px;
    }
  }