<div class="ingredients-list">
    <app-ingredient *ngFor="let ingredient of ingredients" 
                    [isEdit]="isEditMode" 
                    [isNew]="false" 
                    [ingredient]="ingredient" 
                    (removeIngredient)="removeIngedient(ingredient)"
                    ></app-ingredient>

    <app-ingredient *ngIf="isEditMode" [isEdit]="isEditMode" 
                    [isNew]="true"  
                    (addIngredient)="addIngredient($event)"></app-ingredient>
</div>