nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 90px;
    background: #00d47c47;

    a {
        font-size: 20px;
        text-decoration: none;
        color: #848887;
        border-radius: 25px;
        margin: 0 12px;
        font-weight: bold;
        border-bottom: 4px solid #679884;
        border-top: 1px solid #ffffff;
    }

    .nav-btn {
        padding:10px 15px;
        background-color: #ddfbef;
        transition: all 0.3s ease;

        &.logo {
            margin: 0px 15px 0 60px;
            padding: 5px 8px;
            padding-bottom: 1px;
            font-size: 35px;
            background-color: #7bceac;
            color: #ddfbef;

            &:hover {
                background-color: #85deb9;
                color: #fafffd;
            }
        }

        &:hover {
            background-color: #f2fffa;
        }

        &:active {
            border-bottom-width: 2px;
        }
    }
}


@media screen and (max-width: 700px){
    nav { 
        a {
            font-size: 20px;
        }

        .nav-btn {
            &.logo {
                margin: 0px 15px 0 35px;
            }
        }
    }
}

@media screen and (max-width: 500px){
    nav {
        a {
            font-size: 15px;
        }

        .nav-btn {
            &.logo{
                margin: 15px;
            }
        }
    }
}