.menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    background: #00d47c47;
}

nav a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    border-radius: 7px;
    margin: 0 5px;
}

.nav-btn{
    padding:10px 15px;
    background-color: #97d8bd;
    transition: all 0.3s ease;

    &.logo{
        margin: 60px;
        background-color: #7bceac;

        &:hover{
            background-color: #67be9a;
        }
    }

    &:hover{
        background-color: #7bceac;
    }
}
