
.main-page{
    display: flex;
    flex-direction: column;
}

.content-section{
    display: flex;
    flex-direction: column;
    margin: 25px 50px;
}

.recipe {
    text-align: left;
    display: flex;
}

@media screen and (max-width: 900px) {
    .content-section {
        margin: 0 10px;
    }
}